
.carousel {
    padding: 0px;
    border-radius: 58px;
    overflow: hidden;
    margin-top: 122px;
}
.carousel-item {
    height: 80vh;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

// .navbar {
//     position: absolute;
//     top: 0;
//     width: 100%;
//     z-index: 10;
// }

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}