
.intro-section {
    background-image: url('../../images/AppBackground_00000.png');
    height: 1080px;

    .left-side {
        
        height: 1080px;
        background: rgba(0, 0, 0, 0.644);
        backdrop-filter: blur(74.3499984741211px);
        padding: 0px 50px;
    }
}