.bar {
  position: fixed;
  padding: 22px 40px;

  ul,
  .navbar-brand {
    border-radius: 64px;
    background: rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(20.25px);
    padding: 16px 24px;
    gap: 15px;
  }

  a {
    color: #fff;

    /* H3 */
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 0px;
  }
}
